//
// Sharing
//

.post-sharing {
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  padding: .25rem .75rem;
  overflow: hidden;
  font-size: .875rem;
  font-weight: 400;
  line-height: 1.25;
  color: #555;
  background-color: #f5f5f5;
  border-radius: .25rem;

  &:hover,
  &:focus {
    color: #333;
    background-color: #f2f2f2;
  }
}

//= Icon

.post-sharing-icon {
  width: 16px;
  height: 16px;

  &:first-child {
    margin-right: .25rem;
  }
  &:last-child {
    margin-left: .25rem;
  }

  path {
    fill: #555;
  }

  .post-sharing:hover & path,
  .post-sharing:focus & path {
    fill: #333;
  }
}

//= Select

.post-sharing-select {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  padding: 0 .75rem;
  font-family: inherit;
  font-size: 1rem;
  color: #555;
  cursor: pointer;
  background-color: #fff;
  border: 0;
  border-radius: .25rem;
  opacity: 0;
  appearance: none;
}

//
// Labels
//

.post-label-scroll {
  max-width: 100%;
  height: 1.75rem;
  margin-bottom: 1rem;
  overflow: hidden;

  &:last-child {
    margin-bottom: 0;
  }
}

.post-label {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  padding-bottom: 2rem;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  overflow-x: auto;
  white-space: nowrap;
  list-style: none;
}

//= Item

.post-label-item {
  &:not(:last-child) {
    margin-right: .5rem;
  }

  &.post-label-item-sharing {
    padding-right: .5rem;
    border-right: 2px dashed #eee;
  }
}

//= Link

.post-label-link {
  display: block;
  padding: .25rem .75rem;
  font-size: .75rem;
  font-weight: 700;
  line-height: 1.25;
  text-align: center;
  text-transform: uppercase;
  white-space: nowrap;
  background-color: #fff;
  border: 2px solid #ddd;
  border-radius: 2rem;

  &:hover,
  &:focus {
    text-decoration: none;
    background-color: #f5f5f5;
    border-color: #ccc;
  }
}

//= No label

.post-label-nolabel {
  display: block;
  padding: .25rem .75rem;
  font-size: .75rem;
  font-weight: 700;
  line-height: 1.25;
  color: #777;
  text-align: center;
  text-transform: uppercase;
  white-space: nowrap;
  cursor: default;
  background-color: #fff;
  border: 2px solid #eee;
  border-radius: 2rem;
}

//
// Meta
//

.post-meta {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding-left: 0;
  margin-top: 0;
  margin-top: -1rem;
  margin-bottom: 1rem;
  font-size: .875rem;
  list-style: none;

  &:last-child {
    margin-bottom: 0;
  }
}

//= Item

.post-meta-item {
  margin-top: 1rem;

  &:not(:last-child) {
    margin-right: 1rem;
  }
}

//= Prefix

.post-meta-prefix {
  color: #777;
}

//= Link

// .post-meta-link {}

//= Text

.post-meta-text {
  color: #333;
}

//
// Typography
//
// Usage:
//
// <div class='post-body-typography'>
//   <data:post.body/>
// </div>

// stylelint-disable declaration-no-important, no-duplicate-selectors, selector-max-type, selector-no-qualifying-type

//= Reset margins

.post-body-typography h1,
.post-body-typography h2,
.post-body-typography h3,
.post-body-typography h4,
.post-body-typography h5,
.post-body-typography h6,
.post-body-typography p,
.post-body-typography pre,
.post-body-typography ol,
.post-body-typography ul,
.post-body-typography dl,
.post-body-typography table:not(.tr-caption-container),
.post-body-typography blockquote,
.post-body-typography address,
.post-body-typography figure {
  margin: 0 !important;
}

//= Images

.post-body-typography .separator img,
.post-body-typography .tr-caption-container img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

.post-body-typography .tr-caption-container .tr-caption {
  padding-top: .25rem;
  font-size: 90%;
  color: #777;
}

//= Tables

.post-body-typography table:not([class]) {
  display: block;
  width: 100%;
  max-width: 100%;
  overflow-x: auto;
  border-collapse: collapse;
  background-color: transparent;
}

.post-body-typography table:not([class]) caption {
  padding: .75rem 0 0;
  color: #777;
  text-align: inherit;
  caption-side: bottom;
}

.post-body-typography table:not([class]) th,
.post-body-typography table:not([class]) td {
  padding: .75rem;
  vertical-align: top;
  border: 1px solid #ccc;
}
.post-body-typography table:not([class]) th {
  text-align: inherit;
}

.post-body-typography table:not([class]) thead th {
  vertical-align: bottom;
  border-bottom: 2px solid #ccc;
}

.post-body-typography table:not([class]) tbody + tbody {
  border-top: 2px solid #ccc;
}

//= Blockquotes

.post-body-typography blockquote:not([class]) {
  padding: .75rem 1rem;
  color: #333;
  background-color: #f5f5f5;
  border-left: 8px solid #ccc;
  border-radius: .25rem;
}

.post-body-typography blockquote:not([class]) > :first-child {
  margin-top: 0 !important;
}
.post-body-typography blockquote:not([class]) > :last-child {
  margin-bottom: 0 !important;
}

.post-body-typography blockquote:not([class]) footer {
  display: block;
  font-size: 90%;
  color: #777;
}
.post-body-typography blockquote:not([class]) footer::before {
  content: "\2014 \00A0";
}

//= Code

.post-body-typography code {
  padding: .2em .4em;
  font-size: 90%;
  color: #ff3860;
  word-break: break-word;
  background-color: #f5f5f5;
  border: 0;
  border-radius: .25rem;
}

.post-body-typography pre code {
  padding: 0;
  font-size: inherit;
  color: inherit;
  word-break: inherit;
  background-color: transparent;
  border: 0;
  border-radius: 0;
}

.post-body-typography pre:not([class]) {
  display: block;
  padding: 1rem;
  overflow: auto;
  font-size: 90%;
  color: #333;
  background-color: #f5f5f5;
  border-radius: .25rem;
}
