//
// Base class
//

.post-search-default {
  padding-bottom: 2rem;
  margin-bottom: 2rem;
  border-bottom: 1px solid rgba(0, 0, 0, .125);
}

//
// Title
//

.post-search-default-title {
  margin-top: 0;
  margin-bottom: 1rem;

  &:last-child {
    margin-bottom: 0;
  }
}

//= Link

// .post-search-default-title-link {}

//
// Snippet
//

.post-search-default-snippet {
  margin-bottom: 1rem;
  color: #777;

  &:last-child {
    margin-bottom: 0;
  }

  &::after {
    display: block;
    clear: both;
    content: "";
  }
}
