//
// Base class
//

.post-item {
  margin-bottom: 2rem;
}

//
// Header
//

.post-item-header {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

//
// Title
//

.post-item-title {
  margin-top: 0;
  margin-bottom: 1rem;

  &:last-child {
    margin-bottom: 0;
  }
}

//
// Body
//

.post-item-body {
  margin-bottom: 2rem;

  &:last-child {
    margin-bottom: 0;
  }

  &::after {
    display: block;
    clear: both;
    content: "";
  }
}
