//
// Breadcrumb
//

.breadcrumb {
  display: flex;
  flex-wrap: wrap;
  padding: .75rem 1rem;
  margin-top: 0;
  margin-bottom: 1rem;
  list-style: none;
  background-color: #f5f5f5;
  border-radius: .25rem;
}

//= Item

.breadcrumb-item {
  color: #333;

  &.active {
    color: #777;
  }

  & + &::before {
    display: inline-block;
    padding-right: .5rem;
    padding-left: .5rem;
    color: #777;
    content: "/";
  }
  &.active + &.active::before {
    content: ":";
  }
}
