//
// Pager
//

.pager {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

//= Link

.pager-link {
  position: relative;
  display: block;
  padding: .5rem .75rem;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.25;
  text-align: center;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 2rem;

  &:hover,
  &:focus {
    text-decoration: none;
    background-color: #f5f5f5;
    border-color: #ccc;
  }
  &.disabled {
    color: #777;
    pointer-events: none;
    background-color: #fff;
    border-color: #ccc;
  }

  &.pager-home {
    margin-right: .5rem;
    margin-left: .5rem;
  }
}
