//
// Base class
//

// .search-form {}

//
// Layout
//

.search-form-row {
  display: flex;
  flex-wrap: nowrap;
  margin-right: -5px;
  margin-left: -5px;
}
.search-form-col {
  position: relative;
  flex-basis: 0;
  flex-grow: 1;
  width: 100%;
  max-width: 100%;
  padding-right: 5px;
  padding-left: 5px;
}
.search-form-col-auto {
  position: relative;
  flex: 0 0 auto;
  width: auto;
  max-width: none;
  padding-right: 5px;
  padding-left: 5px;
}

//
// Input
//

.search-form-input {
  display: block;
  width: 100%;
  padding: .375rem .75rem;
  font-family: inherit;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #555;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ccc;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;

  &:focus {
    color: #555;
    background-color: #fff;
    border-color: lighten(#007bff, 25%);
    outline: 0;
    box-shadow: 0 0 0 .2rem rgba(#007bff, .25);
  }
}

//
// Submit
//

.search-form-submit {
  display: block;
  padding: .375rem .75rem;
  font-family: inherit;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  cursor: pointer;
  user-select: none;
  background-color: #007bff;
  border: 1px solid darken(#007bff, 2.5%);
  border-radius: .25rem;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;

  &:hover {
    color: #fff;
    background-color: darken(#007bff, 7.5%);
    border-color: darken(#007bff, 10%);
  }
  &:focus {
    outline: 0;
    box-shadow: 0 0 0 .2rem rgba(#007bff, .5);
  }
  &:active {
    color: #fff;
    background-color: darken(#007bff, 15%);
    border-color: darken(#007bff, 17.5%);
  }
}
