//
// Base class
//

// .follow-by-email-form {}

//
// Input
//

.follow-by-email-form-input {
  display: block;
  width: 100%;
  padding: .375rem .75rem;
  font-family: inherit;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #555;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ccc;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;

  &:focus {
    color: #555;
    background-color: #fff;
    border-color: lighten(#ffc107, 25%);
    outline: 0;
    box-shadow: 0 0 0 .2rem rgba(#ffc107, .25);
  }
}

//
// Submit
//

.follow-by-email-form-submit {
  display: block;
  width: 100%;
  padding: .375rem .75rem;
  margin-top: 1rem;
  overflow: hidden;
  font-family: inherit;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #333;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
  user-select: none;
  background-color: #ffc107;
  border: 1px solid darken(#ffc107, 2.5%);
  border-radius: .25rem;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;

  &:hover {
    color: #333;
    background-color: darken(#ffc107, 7.5%);
    border-color: darken(#ffc107, 10%);
  }
  &:focus {
    outline: 0;
    box-shadow: 0 0 0 .2rem rgba(#ffc107, .5);
  }
  &:active {
    color: #333;
    background-color: darken(#ffc107, 15%);
    border-color: darken(#ffc107, 17.5%);
  }
}
