//
// Base class
//

.page-header {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  min-height: 350px;
  padding-top: 4rem;
  padding-bottom: 4rem;
  color: #fff;
  text-align: center;
  background-color: #222;

  // Image placement: REPLACE
  &.image-placement-replace {
    &.is-image img {
      max-width: 100%;
      height: auto;
      vertical-align: middle;
    }
  }

  // Image placement: BEFORE_DESCRIPTION
  &.image-placement-before-description {
    &.is-image img {
      max-width: 100%;
      height: auto;
      margin-bottom: 1rem;
      vertical-align: middle;
    }
  }

  // Image placement: BEHIND
  &.image-placement-behind {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    &.is-image {
      z-index: 1;
    }
    &.is-image::before {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: -1;
      content: "";
      background-image: linear-gradient(rgba(0, 0, 0, .25), rgba(0, 0, 0, .25));
    }
  }
}

//
// Title
//

.page-header-title {
  margin-top: 0;
  margin-bottom: 1rem;
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1.1;

  @media (min-width: 768px) {
    font-size: 3.5rem;
  }
}

//= Link

.page-header-title-link  {
  color: #fff;
  text-decoration: none;

  &:hover {
    color: #fff;
    text-decoration: none;
  }
}

//
// Description
//

.page-header-description {
  max-width: 700px;
  margin: 0 auto;
  font-size: 1.25rem;
  font-weight: 300;
  line-height: 1.3;
}
