//
// Base class
//

.image {
  margin: 0;
}

//
// Image
//

.image-img {
  width: 100%;
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  border-radius: .25rem;
}

//
// Caption
//

.image-caption {
  margin-top: .5rem;
  margin-bottom: 0;
  color: #777;
}
