//
// List
//

.label-list {
  display: flex;
  flex-direction: column;
}

//= Link

.label-list-link {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: .5rem 1rem;
  margin-bottom: -1px;
  color: #555;
  background-color: #fff;
  border: 1px solid #ccc;

  &:first-child {
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
  }
  &:last-child {
    margin-bottom: 0;
    border-bottom-right-radius: .25rem;
    border-bottom-left-radius: .25rem;
  }
  &:hover,
  &:focus {
    z-index: 1;
    color: #555;
    text-decoration: none;
    background-color: #f5f5f5;
    border-color: #ccc;
  }
  &:active {
    z-index: 3;
    background-color: darken(#f5f5f5, 2.5%);
    border-color: #ccc;
  }
  &.active {
    z-index: 2;
    color: #555;
    background-color: #f5f5f5;
    border-color: #ccc;
  }
}

//= Count

.label-list-count {
  display: inline-block;
  padding: .25em .6em;
  margin-left: .5rem;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  background-color: #777;
  border-radius: 10rem;

  .active > & {
    color: #fff;
    background-color: #777;
  }
}

//
// Cloud
//

.label-cloud {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  // stylelint-disable-next-line declaration-no-important
  margin-top: -.5rem !important;
  margin-bottom: 0;
  list-style: none;
}

//= Item

.label-cloud-item {
  margin-top: .5rem;

  &:not(:last-child) {
    margin-right: .5rem;
  }
}

//= Link

.label-cloud-link {
  display: block;
  padding: .25rem .5rem;
  font-size: .875rem;
  font-weight: 400;
  line-height: 1.25;
  color: #555;
  text-align: center;
  white-space: nowrap;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: .25rem;

  &:hover,
  &:focus {
    color: #555;
    text-decoration: none;
    background-color: #f5f5f5;
    border-color: #ccc;
  }
  &:active {
    background-color: darken(#f5f5f5, 2.5%);
    border-color: #ccc;
  }
  &.active {
    color: #555;
    background-color: #f5f5f5;
    border-color: #ccc;
  }
}

//= Count

.label-cloud-count {
  position: relative;
  top: -1px;
  display: inline-block;
  padding: .25em .4em;
  margin-left: .4em;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  background-color: #777;
  border-radius: .25rem;

  .active > & {
    color: #fff;
    background-color: #777;
  }
}
