//
// Base class
//

.popular-posts {
  text-align: left;
}

.popular-post {
  display: flex;
  align-items: flex-start;
  margin-bottom: .5rem;

  &:last-child {
    margin-bottom: 0;
  }
}

//
// Image
//

.popular-post-img {
  margin-right: 1rem;
  vertical-align: middle;
  border-radius: .25rem;

  // No Image
  // &.popular-post-noimg {}
}

//
// Content
//

.popular-post-content {
  flex: 1;
}

//
// Title
//

.popular-post-title {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.25rem;
  line-height: 1.1;
}

//= Link

// .popular-post-title-link {}

//
// Meta
//

.popular-post-meta {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: .25rem;
  font-size: .875rem;
  color: #777;
  list-style: none;

  &:last-child {
    margin-bottom: 0;
  }
}

//= Item

.popular-post-meta-item {
  display: inline-block;

  &:not(:last-child) {
    margin-right: .5rem;
  }
}

//= Link

// .popular-post-meta-link {}

//
// Snippet
//

// .popular-post-snippet {}
