//
// Base CSS
//

//= Body

// stylelint-disable-next-line value-keyword-case
$body-font-family:  -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;
$body-font-size:    1rem !default;
$body-font-weight:  400 !default;
$body-line-height:  1.5 !default;
$body-color:        #333 !default;
$body-bg:           #fff !default;

//= Links

$link-color:             #007bff !default;
$link-hover-color:       darken($link-color, 15%) !default;
$link-decoration:        none !default;
$link-hover-decoration:  underline !default;

//= Headings

$headings-font-family:  null !default;
$headings-font-weight:  500 !default;
$headings-line-height:  1.2 !default;
$headings-color:        null !default;

$h1-font-size:          1rem * 2.5 !default;
$h2-font-size:          1rem * 2 !default;
$h3-font-size:          1rem * 1.75 !default;
$h4-font-size:          1rem * 1.5 !default;
$h5-font-size:          1rem * 1.25 !default;
$h6-font-size:          1rem !default;

//
// Breakpoints
//
// Define the minimum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries.

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
) !default;

//
// Grid
//

//= Containers
//
// Define the maximum width of `.container` for different screen sizes.

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px
) !default;

//= Columns
//
// Set the number of columns and specify the width of the gutters.

$grid-columns:       12 !default;
$grid-gutter-width:  30px !default;
