//
// Base class
//

.footer {
  padding-top: 2rem;
  padding-bottom: 2rem;
  font-size: .875rem;
  color: #777;
  background-color: #fafafa;
  border-top: 1px solid rgba(0, 0, 0, .125);
}

.footer-inner {
  padding: 0;
  background-color: transparent;
}

//
// Text
//

.footer-text {
  margin-top: 0;
  margin-bottom: 0;
}
